@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'swiper/css/pagination';
@import 'swiper/css';

h1,
h2,
h3,
h4,
h5,
h6,
.link,
.el-messiri {
  font-family: '__El_Messiri_3bcd15', '__El_Messiri_Fallback_3bcd15';
}

p {
  /* font-family: 'DM Sans', sans-serif; */
  @apply text-sm md:text-lg;
}

h1 {
  @apply text-4xl font-bold md:text-7xl xl:text-9xl;
}

h2 {
  @apply text-3xl font-bold md:text-5xl xl:text-7xl;
}

h3 {
  @apply text-2xl font-bold md:text-5xl xl:text-[4rem];
}

h4 {
  @apply text-xl font-bold md:text-2xl xl:text-[2rem];
}

h5 {
  @apply text-2xl font-bold;
}

h6 {
  @apply text-base font-medium md:text-lg xl:text-xl;
}

a.link {
  @apply text-lg font-semibold;
}

.container {
  @apply mx-auto max-w-[1320px] px-2 2xl:px-0;
}

.custom-pattern {
  background:
    repeating-linear-gradient(
      45deg,
      #0000 calc(-650% / 13) calc(50% / 13),
      #f9faf8 0 calc(100% / 13),
      #0000 0 calc(150% / 13),
      #f9faf8 0 calc(200% / 13),
      #0000 0 calc(250% / 13),
      #f9faf8 0 calc(300% / 13)
    ),
    repeating-linear-gradient(
        45deg,
        #0000 calc(-650% / 13) calc(50% / 13),
        #f9faf8 0 calc(100% / 13),
        #0000 0 calc(150% / 13),
        #f9faf8 0 calc(200% / 13),
        #0000 0 calc(250% / 13),
        #f9faf8 0 calc(300% / 13)
      )
      11px 11px,
    repeating-linear-gradient(
      -45deg,
      #0000 calc(-650% / 13) calc(50% / 13),
      #f9faf8 0 calc(100% / 13),
      #0000 0 calc(150% / 13),
      #f9faf8 0 calc(200% / 13),
      #0000 0 calc(250% / 13),
      #f9faf8 0 calc(300% / 13)
    ),
    repeating-linear-gradient(
        -45deg,
        #0000 calc(-650% / 13) calc(50% / 13),
        #f9faf8 0 calc(100% / 13),
        #0000 0 calc(150% / 13),
        #f9faf8 0 calc(200% / 13),
        #0000 0 calc(250% / 13),
        #f9faf8 0 calc(300% / 13)
      )
      11px 11px #ffffff;
  background-size: 22px 22px;
}
/* 
.owl-dots {
  @apply flex justify-center;
}

.owl-dot span {
  @apply !mx-[5px] inline-block !h-[10px] !w-[10px] rounded-full !bg-primary !bg-opacity-30 !transition-[width] !duration-300;
}

.owl-dot.active span {
  @apply !w-[34px] !bg-primary;
}

.owl-carousel .owl-stage-outer {
  @apply !p-[20px];
} */

.swiper-wrapper {
  @apply mb-[4rem];
}

.swiper-pagination-bullet {
  @apply !bg-primary !bg-opacity-50 transition-[width] !duration-300;
}

.swiper-pagination-bullet-active {
  @apply !w-[34px] !rounded-full !bg-primary !bg-opacity-100;
}

.swiper-slide-prev > div > div {
  @apply shadow-none;
}
